.idea
coverage

# Node build artifacts
node_modules
npm-debug.log
yarn-error.log

dist
!/dist/app.json
!/dist/.env
!/dist/.gitignore
!/dist/Procfile

# Local development
.env
.env.test.env
*.dev
.DS_Store
yarn.lock

# Docker
Dockerfile
docker-compose.yml
/nbproject/