.idea
coverage

# Node build artifacts
node_modules
npm-debug.log
yarn-error.log

dist

# Local development
.env
.env.prev
.env.test.env
*.dev
.DS_Store
yarn.lock
google-api-key*.json
uploads
./temp
altiore-*.json
!altiore-8888-888888888888.json
lorder-*.json

# Docker
/nbproject/

# production
/heroku/bin
/heroku/dist
/heroku/mails
/heroku/package.json
/heroku/package-lock.json
/heroku/ormconfig.js
/heroku/public
