.idea
coverage

# Node build artifacts
node_modules
npm-debug.log
yarn-error.log

dist
!/dist/app.json
!/dist/.env
!/dist/.gitignore
!/dist/Procfile

# Local development
.env
.env.test.env
*.dev
.DS_Store
yarn.lock
google-api-key.json
uploads
./temp
altiore-1298-e837eac2c685.json

# Docker
Dockerfile
/nbproject/

# production
/heroku/bin
/heroku/dist
/heroku/mails
/heroku/package.json
/heroku/package-lock.json
/heroku/ormconfig.js
