version: '3.4'

services:
  server:
    build:
      context: .
      dockerfile: ./docker/node/Dockerfile
    container_name: altiore_server
    volumes:
      - ./mails:/usr/src/app/mails
      - ./public:/usr/src/app/public
      - ./src:/usr/src/app/src
    stdin_open: true
    tty: true
    restart: unless-stopped
    depends_on:
      - redis
      - postgres
    env_file: .env

  redis:
    image: redis
    container_name: altiore_cache
    volumes:
      - redis-altiore:/data
    ports:
      - ${REDIS_PORT}:6379
    expose:
      - 6379

  postgres:
    image: postgres:11.6
    container_name: altiore_postgres
    restart: always
    volumes:
      - ./docker/postgres-entrypoint-initdb.d:/docker-entrypoint-initdb.d
      - ./docker/wait-postgres.sh:/usr/bin/wait-postgres
    environment:
      - POSTGRES_DB=${TYPEORM_DATABASE}
      - POSTGRES_TEST_DB=${POSTGRES_TEST_DB}
      - POSTGRES_USER=${TYPEORM_USERNAME}
      - POSTGRES_PASSWORD=${TYPEORM_PASSWORD}
    ports:
      - ${TYPEORM_PORT}:5432

volumes:
  redis-altiore:
